<mat-form-field>
  <mat-select id="language" placeholder="Language" [(value)]="selected">
    <mat-option *ngFor="let language of languages" [value]="language">
      {{ language }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select
    id="wordsNumber"
    placeholder="No. of words:"
    [(value)]="selectedNo"
  >
    <mat-option *ngFor="let num of wordsNumbers" [value]="wordsNumber">
      {{ num }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="saveSettings()">Save</button>
